<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Contact Form</title>
</head>
<body>
<nav>
    <div class="nav-wrapper cyan darken-3">
        <a href="/" class="brand-logo">
            <i class="material-icons">book</i>
            .myContact
        </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/">home</a></li>
        </ul>
    </div>
</nav>
<div class="row">
    <h3 class="col s9 offset-s3">
        Create or edit contact
    </h3>
</div>

<div class="row">
    <form class="col s6 offset-s3" th:action="@{/contact/save}" th:object="${contact}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">account_circle</i>
                <input id="icon_prefix" type="text" class="validate" th:field="*{name}">
                <label for="icon_prefix">Name</label>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">phone</i>
                <input id="icon_telephone" type="tel" class="validate" th:field="*{number}">
                <label for="icon_telephone">Telephone</label>
            </div>
        </div>
        <div class="row">
            <button class="btn waves-effect waves-light " type="submit" name="action">Submit
                <i class="material-icons right">send</i>
            </button>

            <a href="/contacts" class="btn waves-effect waves-light" type="cancel" name="action">Cancel
                <i class="material-icons right">cancel</i>
            </a>
        </div>

    </form>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
